:root{
    --primary: #ffce52 ;
    --width-break: 600px;
}
*{
   box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'caveat',cursive;
    background-image: url("https://wallpaperaccess.com/full/192371.jpg");
    background-position: center;
    background-size:var(--width-break) ;
    backdrop-filter: blur(3px);
}
nav{
    text-align: center;
    background-color: var(--primary);
}
nav div{
    padding: 0.8rem;
    font-size: 2.5rem;
    font-weight: 600;
}
main{
    margin:auto;
    padding: 2.3rem 2rem;
    max-width: var(--width-break);
    background-color: rgb(255, 255, 255);
    opacity: 0.98;
}
textarea{
    display: block;
    width: 100%;
    background-color: white;
    min-height: 20vh;
    font-size: larger;
    font-family: inherit;
    padding: 0.5rem;
}
button{

    margin: 1rem auto;
    background-color: var(--primary);
    padding: 0.7rem 1rem;
    font-size: 1.5rem;
    font-family: inherit;
    font-weight: 200;
}
button:hover{
    zoom: 108%;
    background-color:rgb(104, 150, 202) ;
}
#output{
    display: block;
    width: 100%;
    background-color: white;
    min-height: 10vh;
    max-height: 20vh;
    overflow: scroll;
    font-size: larger;
    border: 1px solid black;
    padding: 0.5rem;
}

footer{
    display: block;
    background-color: var(--primary);
    width: 100%;
    padding: 2rem 1rem;
    position: fixed;
    bottom:-35%;
    text-align: center;
    
}
footer p{
    max-width: var(--width-break);
    margin: auto;
    padding: 0.5rem;
    font-size:larger;
    text-align: center;
}
footer small{
    position: absolute;
    bottom: 0.5rem;
    right:1rem;
}
